/*
A WARNING TO THOSE WHO ARE NOT THE DEVELOPERS OF THE PROJECT AND IS A COMPETITOR OF THE EVENT
IF YOU ARE CAUGHT LOOKING FOR INFORMATION IN THE CODE, YOU WILL NOT GET THE REWARD.
FURTHERMORE, WE CAN SEE WHO HAS DOWNLOADED THE GITHUB PROJECT ANYWAY.
*/

* {
  padding: 0;
  margin: 0;
  user-select: none;
}

body {
  font-family: 'Times New Roman', Times, serif;
  background-color: darkslategray;
  padding: 50px;
}

.showcase {
  background-color: black;
  color: white;
  padding: 20px;
  text-align: center;
}

code {
  font-family: 'Courier New', Courier, monospace;
}

.main {
  background-color: black;
  border: 1px solid white;
  padding: 40px;
  text-align: center;
  color: white;
}

input {
  background-color: darkslategray;
  outline: none;
  font-family: 'Courier New', Courier, monospace;
  border: none;
  color: white;
  padding: 10px;
}

button {
  background-color: darkslategray;
  outline: none;
  font-family: 'Times New Roman', Times, serif;
  color: white;
  border: none;
  padding: 10px;
}

.verification {
  position: fixed;
  display: block; /*REMEMBER TO MAKE THIS INTO BLOCK WHEN PUBLISHING!!!!!!!*/
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.9);
}

.verificationText {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 20px;
  color: white;
  transform: translate(-50%, -50%);
  background-color: black;
  padding: 50px;
}
